In [7]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [18]:
# Import study data files
financial_aid_path = "Resources/financial_aid.csv"
revenue_path = "Resources/revenue.csv"
enrollment_path = "Resources/enrollment.csv"

# Read the CSV files from the Resources folder
financial_aid = pd.read_csv(financial_aid_path, header=2)
revenue = pd.read_csv(revenue_path, header=2)
enrollment = pd.read_csv(enrollment_path, header=2)

# Preview DataFrames
revenue.head()

,Year,State,Total,Tuition and fees (net of allowances and discounts),Federal grants and contracts,State grants and contracts,Local grants and contracts,Sales and services of auxiliary enterprises,Sales and services of hospitals,Independent operations,...,Federal nonoperating grants,State nonoperating grants,Local nonoperating grants,Gifts,Investment income,Other nonoperating revenues,Capital appropriations,Capital grants and gifts,Additions to permanent endowments,Other revenues and additions
0,2020,Total,"$415,613,887","$80,031,338","$31,582,539","$9,644,240","$15,110,021","$24,952,423","$54,862,962","$1,911,140",...,"$26,441,343","$6,465,573","$470,609","$9,292,496","$11,019,875","$7,570,024","$5,987,992","$4,081,185","$1,178,753","$7,905,203"
1,2020,Alabama,"$9,320,441","$2,056,834","$870,544","$148,487","$131,086","$485,223","$2,664,265",$0,...,"$465,510","$2,826",$0,"$136,634","$96,993","$50,666","$1,557","$101,846","$50,334","$9,559"
2,2020,Alaska,"$764,138","$124,811","$133,556","$15,466","$48,933","$26,862",$0,$0,...,"$29,426",$628,$0,$731,"$14,314","$4,752","$9,961","$2,901",$0,"$2,865"
3,2020,Arizona,"$7,725,142","$2,650,150","$632,715","$19,499","$283,545","$427,739",$0,$0,...,"$718,771","$68,298","$38,268","$199,427","$87,483","$386,822","$78,930","$116,499","$2,873","$23,989"
4,2020,Arkansas,"$4,567,110","$629,978","$269,289","$114,178","$64,965","$310,983","$1,215,037",$0,...,"$279,706","$91,200","$6,758","$118,405","$37,709","$56,596","$9,885","$80,519","$2,043","$8,727"

In [17]:
# Preview DataFrames
financial_aid.head()

,Year,State,Any financial aid,"Grants or scholarships from the federal government, state/local government, or the institution",Federal grants,Pell grants,Other federal grants,State/local government grants or scholarships,Institutional grants or scholarships,Loans to students,Federal loans,Other loans
0,2020,Alabama,"39,018","36,648","23,058","18,871","12,579","3,441","25,261","17,684","17,082","2,122"
1,2020,Alaska,"1,954","1,685","1,231",893,851,964,652,723,691,74
2,2020,Arizona,"50,323","48,052","32,639","25,849","20,120","1,909","33,355","24,463","23,970","2,531"
3,2020,Arkansas,"23,625","23,037","17,548","12,619","10,198","11,233","13,072","11,384","11,208",950
4,2020,California,"254,634","241,872","166,802","151,795","78,052","163,663","94,572","85,794","83,964","12,091"

In [19]:
# Preview DataFrames
enrollment.head()

   Year     State       Total Undergraduate   Graduate
0  2021     Total  25,349,502    21,361,807  3,987,695
1  2021   Alabama     375,806       306,241     69,565
2  2021    Alaska      35,858        33,224      2,634
3  2021   Arizona     903,151       739,891    163,260
4  2021  Arkansas     188,672       160,454     28,218

In [ ]:
revenue_copy = revenue