In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
# Import study data files
financial_aid_path = "Resources/financial_aid.csv"
revenue_path = "Resources/revenue.csv"
enrollment_path = "Resources/enrollment.csv"

# Read the CSV files from the Resources folder
revenue = pd.read_csv(revenue_path, header=2)
financial_aid = pd.read_csv(financial_aid_path, header=2)
enrollment = pd.read_csv(enrollment_path, header=2)

In [3]:
# Preview DataFrame
revenue.head()

,Year,State,Total,Tuition and fees (net of allowances and discounts),Federal grants and contracts,State grants and contracts,Local grants and contracts,Sales and services of auxiliary enterprises,Sales and services of hospitals,Independent operations,...,Federal nonoperating grants,State nonoperating grants,Local nonoperating grants,Gifts,Investment income,Other nonoperating revenues,Capital appropriations,Capital grants and gifts,Additions to permanent endowments,Other revenues and additions
0,2020,Total,"$415,613,887","$80,031,338","$31,582,539","$9,644,240","$15,110,021","$24,952,423","$54,862,962","$1,911,140",...,"$26,441,343","$6,465,573","$470,609","$9,292,496","$11,019,875","$7,570,024","$5,987,992","$4,081,185","$1,178,753","$7,905,203"
1,2020,Alabama,"$9,320,441","$2,056,834","$870,544","$148,487","$131,086","$485,223","$2,664,265",$0,...,"$465,510","$2,826",$0,"$136,634","$96,993","$50,666","$1,557","$101,846","$50,334","$9,559"
2,2020,Alaska,"$764,138","$124,811","$133,556","$15,466","$48,933","$26,862",$0,$0,...,"$29,426",$628,$0,$731,"$14,314","$4,752","$9,961","$2,901",$0,"$2,865"
3,2020,Arizona,"$7,725,142","$2,650,150","$632,715","$19,499","$283,545","$427,739",$0,$0,...,"$718,771","$68,298","$38,268","$199,427","$87,483","$386,822","$78,930","$116,499","$2,873","$23,989"
4,2020,Arkansas,"$4,567,110","$629,978","$269,289","$114,178","$64,965","$310,983","$1,215,037",$0,...,"$279,706","$91,200","$6,758","$118,405","$37,709","$56,596","$9,885","$80,519","$2,043","$8,727"

In [4]:
# Preview DataFrame
financial_aid.head()

,Year,State,Any financial aid,"Grants or scholarships from the federal government, state/local government, or the institution",Federal grants,Pell grants,Other federal grants,State/local government grants or scholarships,Institutional grants or scholarships,Loans to students,Federal loans,Other loans
0,2020,Alabama,"39,018","36,648","23,058","18,871","12,579","3,441","25,261","17,684","17,082","2,122"
1,2020,Alaska,"1,954","1,685","1,231",893,851,964,652,723,691,74
2,2020,Arizona,"50,323","48,052","32,639","25,849","20,120","1,909","33,355","24,463","23,970","2,531"
3,2020,Arkansas,"23,625","23,037","17,548","12,619","10,198","11,233","13,072","11,384","11,208",950
4,2020,California,"254,634","241,872","166,802","151,795","78,052","163,663","94,572","85,794","83,964","12,091"

In [5]:
# Preview DataFrame
enrollment.head()

   Year     State       Total Undergraduate   Graduate
0  2021     Total  25,349,502    21,361,807  3,987,695
1  2021   Alabama     375,806       306,241     69,565
2  2021    Alaska      35,858        33,224      2,634
3  2021   Arizona     903,151       739,891    163,260
4  2021  Arkansas     188,672       160,454     28,218

In [6]:
# List columns for easy copy/paste
revenue.columns

Index(['Year', 'State', 'Total',
       'Tuition and fees (net of allowances and discounts)',
       'Federal grants and contracts', 'State grants and contracts',
       'Local grants and contracts',
       'Sales and services of auxiliary enterprises',
       'Sales and services of hospitals', 'Independent operations',
       'Other operating revenues', 'Federal appropriations',
       'State appropriations', 'Local appropriations',
       'Federal nonoperating grants', 'State nonoperating grants',
       'Local nonoperating grants', 'Gifts', 'Investment income',
       'Other nonoperating revenues', 'Capital appropriations',
       'Capital grants and gifts', 'Additions to permanent endowments',
       'Other revenues and additions'],
      dtype='object')

In [7]:
# Create a copy of the revenue df and drop columns
revenue_copy = revenue[["Year", "State", "Total", "Tuition and fees (net of allowances and discounts)", \
                        'Federal grants and contracts', 'State grants and contracts', 'Local grants and contracts',\
                        'Gifts', 'Investment income', 'Additions to permanent endowments']].copy()

# Drop last four rows (contains source info)
revenue_copy = revenue_copy.drop(index=[887,886,885,884])

In [8]:
# Drop "Total" row for each year
## Code adapted from https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/
revenue_2 = revenue_copy.set_index("State")
revenue_2 = revenue_2.drop("Total")
revenue_2

,Year,Total,Tuition and fees (net of allowances and discounts),Federal grants and contracts,State grants and contracts,Local grants and contracts,Gifts,Investment income,Additions to permanent endowments
State,,,,,,,,,
Alabama,2020,"$9,320,441","$2,056,834","$870,544","$148,487","$131,086","$136,634","$96,993","$50,334"
Alaska,2020,"$764,138","$124,811","$133,556","$15,466","$48,933",$731,"$14,314",$0
Arizona,2020,"$7,725,142","$2,650,150","$632,715","$19,499","$283,545","$199,427","$87,483","$2,873"
Arkansas,2020,"$4,567,110","$629,978","$269,289","$114,178","$64,965","$118,405","$37,709","$2,043"
California,2020,"$70,581,207","$8,375,360","$4,184,251","$2,258,273","$2,163,604","$1,635,397","$727,695","$35,180"
...,...,...,...,...,...,...,...,...,...
Virginia,2004,"$5,582,799","$1,141,059","$802,996","$58,603","$113,795","$168,190","$282,977","$10,530"
Washington,2004,"$5,712,282","$855,506","$950,363","$194,576","$218,606","$70,629","$285,119","$45,200"
West Virginia,2004,"$1,206,134","$266,136","$205,492","$99,405","$53,880","$8,923","$3,697",$0
Wisconsin,2004,"$4,480,447","$770,753","$630,549","$78,820","$186,021","$186,567","$45,130","$5,343"
Wyoming,2004,"$471,533","$46,760","$52,265","$16,969","$5,966","$11,645","$12,968","$7,146"

In [9]:
# Use groupby to confirm number of states is accurate
# grouped_revenue = revenue_2.groupby(["Year"]).count()
# grouped_revenue

In [10]:
# Reset index
revenue_2 = revenue_2.reset_index()
revenue_2

,State,Year,Total,Tuition and fees (net of allowances and discounts),Federal grants and contracts,State grants and contracts,Local grants and contracts,Gifts,Investment income,Additions to permanent endowments
0,Alabama,2020,"$9,320,441","$2,056,834","$870,544","$148,487","$131,086","$136,634","$96,993","$50,334"
1,Alaska,2020,"$764,138","$124,811","$133,556","$15,466","$48,933",$731,"$14,314",$0
2,Arizona,2020,"$7,725,142","$2,650,150","$632,715","$19,499","$283,545","$199,427","$87,483","$2,873"
3,Arkansas,2020,"$4,567,110","$629,978","$269,289","$114,178","$64,965","$118,405","$37,709","$2,043"
4,California,2020,"$70,581,207","$8,375,360","$4,184,251","$2,258,273","$2,163,604","$1,635,397","$727,695","$35,180"
...,...,...,...,...,...,...,...,...,...,...
862,Virginia,2004,"$5,582,799","$1,141,059","$802,996","$58,603","$113,795","$168,190","$282,977","$10,530"
863,Washington,2004,"$5,712,282","$855,506","$950,363","$194,576","$218,606","$70,629","$285,119","$45,200"
864,West Virginia,2004,"$1,206,134","$266,136","$205,492","$99,405","$53,880","$8,923","$3,697",$0
865,Wisconsin,2004,"$4,480,447","$770,753","$630,549","$78,820","$186,021","$186,567","$45,130","$5,343"
866,Wyoming,2004,"$471,533","$46,760","$52,265","$16,969","$5,966","$11,645","$12,968","$7,146"

In [11]:
# Confirm data types of all remaining columns
revenue_2.dtypes

State                                                 object
Year                                                  object
Total                                                 object
Tuition and fees (net of allowances and discounts)    object
Federal grants and contracts                          object
State grants and contracts                            object
Local grants and contracts                            object
Gifts                                                 object
Investment income                                     object
Additions to permanent endowments                     object
dtype: object

In [12]:
# Relist columns for easy copy/paste
revenue_2.columns

Index(['State', 'Year', 'Total',
       'Tuition and fees (net of allowances and discounts)',
       'Federal grants and contracts', 'State grants and contracts',
       'Local grants and contracts', 'Gifts', 'Investment income',
       'Additions to permanent endowments'],
      dtype='object')

In [13]:
# Convert columns to float.
## Code adapted from Hendy @ 
## https://stackoverflow.com/questions/38516481/trying-to-remove-commas-and-dollars-signs-with-pandas-in-python

# List columns to be updated in a variable cols
cols = ['Total', 'Tuition and fees (net of allowances and discounts)', 'Federal grants and contracts', \
          'State grants and contracts', 'Local grants and contracts', 'Gifts', 'Investment income',\
          'Additions to permanent endowments']

# Remove $ and , from all fields within the selected columns and change to an integer
revenue_2[cols]= revenue_2[cols].replace({'\$': '', ',': ''}, regex=True).astype(int)
revenue_2.dtypes

State                                                 object
Year                                                  object
Total                                                  int64
Tuition and fees (net of allowances and discounts)     int64
Federal grants and contracts                           int64
State grants and contracts                             int64
Local grants and contracts                             int64
Gifts                                                  int64
Investment income                                      int64
Additions to permanent endowments                      int64
dtype: object

In [14]:
# Reorder columns
revenue_2 = revenue_2[["Year", "State", "Total", "Tuition and fees (net of allowances and discounts)", \
                        'Federal grants and contracts', 'State grants and contracts', 'Local grants and contracts',\
                        'Gifts', 'Investment income', 'Additions to permanent endowments']]

In [15]:
# Rename columns to be more SQL friendly
revenue_renamed = revenue_2.rename(columns={"Tuition and fees (net of allowances and discounts)":"Tuition",\
                             "Federal grants and contracts": "Federal_Grants", "State grants and contracts":\
                             "State_Grants", "Local grants and contracts":"Local_Grants", "Investment income":\
                             "Invest_Income", "Additions to permanent endowments": "Endowment_Additions"})
revenue_renamed

,Year,State,Total,Tuition,Federal_Grants,State_Grants,Local_Grants,Gifts,Invest_Income,Endowment_Additions
0,2020,Alabama,9320441,2056834,870544,148487,131086,136634,96993,50334
1,2020,Alaska,764138,124811,133556,15466,48933,731,14314,0
2,2020,Arizona,7725142,2650150,632715,19499,283545,199427,87483,2873
3,2020,Arkansas,4567110,629978,269289,114178,64965,118405,37709,2043
4,2020,California,70581207,8375360,4184251,2258273,2163604,1635397,727695,35180
...,...,...,...,...,...,...,...,...,...,...
862,2004,Virginia,5582799,1141059,802996,58603,113795,168190,282977,10530
863,2004,Washington,5712282,855506,950363,194576,218606,70629,285119,45200
864,2004,West Virginia,1206134,266136,205492,99405,53880,8923,3697,0
865,2004,Wisconsin,4480447,770753,630549,78820,186021,186567,45130,5343
866,2004,Wyoming,471533,46760,52265,16969,5966,11645,12968,7146

In [16]:
# Preview DataFrame
financial_aid.head()

,Year,State,Any financial aid,"Grants or scholarships from the federal government, state/local government, or the institution",Federal grants,Pell grants,Other federal grants,State/local government grants or scholarships,Institutional grants or scholarships,Loans to students,Federal loans,Other loans
0,2020,Alabama,"39,018","36,648","23,058","18,871","12,579","3,441","25,261","17,684","17,082","2,122"
1,2020,Alaska,"1,954","1,685","1,231",893,851,964,652,723,691,74
2,2020,Arizona,"50,323","48,052","32,639","25,849","20,120","1,909","33,355","24,463","23,970","2,531"
3,2020,Arkansas,"23,625","23,037","17,548","12,619","10,198","11,233","13,072","11,384","11,208",950
4,2020,California,"254,634","241,872","166,802","151,795","78,052","163,663","94,572","85,794","83,964","12,091"

In [17]:
# List columns for easy copy/paste
financial_aid.columns

Index(['Year', 'State', 'Any financial aid',
       'Grants or scholarships from the federal government, state/local government, or the institution',
       'Federal grants', 'Pell grants', 'Other federal grants',
       'State/local government grants or scholarships ',
       'Institutional grants or scholarships ', 'Loans to students',
       'Federal loans', 'Other loans'],
      dtype='object')

In [18]:
# Make a copy and list data types
financial_aid_copy = financial_aid.copy()
financial_aid_copy.dtypes

Year                                                                                              object
State                                                                                             object
Any financial aid                                                                                 object
Grants or scholarships from the federal government, state/local government, or the institution    object
Federal grants                                                                                    object
Pell grants                                                                                       object
Other federal grants                                                                              object
State/local government grants or scholarships                                                     object
Institutional grants or scholarships                                                              object
Loans to students                                                                                 object
Federal loans                                                                                     object
Other loans                                                                                       object
dtype: object

In [19]:
# Look at tail of df to confirm which source rows should be removed
financial_aid_copy.tail(15)

,Year,State,Any financial aid,"Grants or scholarships from the federal government, state/local government, or the institution",Federal grants,Pell grants,Other federal grants,State/local government grants or scholarships,Institutional grants or scholarships,Loans to students,Federal loans,Other loans
959,2002,South Dakota,"6,632",NaN,"2,970",NaN,NaN,"1,030","3,279","5,333",NaN,NaN
960,2002,Tennessee,"33,697",NaN,"21,079",NaN,NaN,"7,494","12,984","16,246",NaN,NaN
961,2002,Texas,"111,875",NaN,"68,283",NaN,NaN,"36,356","38,771","57,759",NaN,NaN
962,2002,Utah,"15,703",NaN,"7,497",NaN,NaN,"1,102","7,416","6,388",NaN,NaN
963,2002,Vermont,"4,808",NaN,"1,716",NaN,NaN,"1,387","3,431","3,692",NaN,NaN
964,2002,Virginia,"38,058",NaN,"18,770",NaN,NaN,"13,336","12,431","23,942",NaN,NaN
965,2002,Washington,"24,852",NaN,"11,362",NaN,NaN,"8,899","8,549","14,749",NaN,NaN
966,2002,West Virginia,"13,274",NaN,"7,712",NaN,NaN,"3,931","5,191","8,025",NaN,NaN
967,2002,Wisconsin,"30,165",NaN,"10,922",NaN,NaN,"15,878","9,678","20,802",NaN,NaN
968,2002,Wyoming,"4,994",NaN,"1,885",NaN,NaN,"1,024","1,304","3,058",NaN,NaN
969,"Pell grants, other federal grants, federal and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
970,This table presents data collected from Title ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,Types of aid will not sum to students receivin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,"Prior to academic year 2010-11, the data repre...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Drop last four rows (contains source info)
financial_aid_copy = financial_aid_copy.drop(index=[969,970,971,972,973])

In [21]:
# Fill any NaN fields with 0s so fields can be converted to integers
financial_aid_copy = financial_aid_copy.fillna(value=0)
financial_aid_copy.tail(20)

,Year,State,Any financial aid,"Grants or scholarships from the federal government, state/local government, or the institution",Federal grants,Pell grants,Other federal grants,State/local government grants or scholarships,Institutional grants or scholarships,Loans to students,Federal loans,Other loans
949,2002,New Mexico,"10,863",0,"6,091",0,0,"6,765","3,102","3,645",0,0
950,2002,New York,"136,967",0,"77,651",0,0,"85,677","53,681","81,955",0,0
951,2002,North Carolina,"39,149",0,"19,599",0,0,"15,847","17,079","20,999",0,0
952,2002,North Dakota,"6,543",0,"2,986",0,0,967,"3,261","4,973",0,0
953,2002,Ohio,"82,151",0,"34,792",0,0,"48,171","34,931","45,896",0,0
954,2002,Oklahoma,"30,430",0,"18,832",0,0,"7,467","12,979","15,293",0,0
955,2002,Oregon,"19,086",0,"9,071",0,0,"3,920","7,855","11,777",0,0
956,2002,Pennsylvania,"101,180",0,"45,177",0,0,"38,734","41,701","72,689",0,0
957,2002,Rhode Island,"10,985",0,"4,496",0,0,"2,939","6,840","7,465",0,0
958,2002,South Carolina,"23,597",0,"11,856",0,0,"10,894","8,437","12,853",0,0
959,2002,South Dakota,"6,632",0,"2,970",0,0,"1,030","3,279","5,333",0,0
960,2002,Tennessee,"33,697",0,"21,079",0,0,"7,494","12,984","16,246",0,0
961,2002,Texas,"111,875",0,"68,283",0,0,"36,356","38,771","57,759",0,0
962,2002,Utah,"15,703",0,"7,497",0,0,"1,102","7,416","6,388",0,0
963,2002,Vermont,"4,808",0,"1,716",0,0,"1,387","3,431","3,692",0,0
964,2002,Virginia,"38,058",0,"18,770",0,0,"13,336","12,431","23,942",0,0
965,2002,Washington,"24,852",0,"11,362",0,0,"8,899","8,549","14,749",0,0
966,2002,West Virginia,"13,274",0,"7,712",0,0,"3,931","5,191","8,025",0,0
967,2002,Wisconsin,"30,165",0,"10,922",0,0,"15,878","9,678","20,802",0,0
968,2002,Wyoming,"4,994",0,"1,885",0,0,"1,024","1,304","3,058",0,0

In [22]:
# Define columns to be update to integers/have $ and , removed
cols = ['Any financial aid',
       'Grants or scholarships from the federal government, state/local government, or the institution',
       'Federal grants', 'Pell grants', 'Other federal grants',
       'State/local government grants or scholarships ',
       'Institutional grants or scholarships ', 'Loans to students',
       'Federal loans', 'Other loans']

In [23]:
# Remove $ and , and change fields to integers
financial_aid_copy[cols] = financial_aid_copy[cols].replace({",": ""}, regex = True).astype(int)
financial_aid_copy.dtypes

Year                                                                                              object
State                                                                                             object
Any financial aid                                                                                  int64
Grants or scholarships from the federal government, state/local government, or the institution     int64
Federal grants                                                                                     int64
Pell grants                                                                                        int64
Other federal grants                                                                               int64
State/local government grants or scholarships                                                      int64
Institutional grants or scholarships                                                               int64
Loans to students                                                                                  int64
Federal loans                                                                                      int64
Other loans                                                                                        int64
dtype: object

In [24]:
# Set the index to year to drop the extra years, reset the index and reorder the columns
financial_aid_2 = financial_aid_copy.set_index("Year")
financial_aid_2 = financial_aid_2.drop(["2002", "2003"])
financial_aid_2 = financial_aid_2.reset_index()
financial_aid_2 = financial_aid_2[['Year', 'State', 'Any financial aid',
       'Grants or scholarships from the federal government, state/local government, or the institution',
       'Federal grants', 'Pell grants', 'Other federal grants',
       'State/local government grants or scholarships ',
       'Institutional grants or scholarships ', 'Loans to students',
       'Federal loans', 'Other loans']]

In [25]:
# Preview the df
financial_aid_2

,Year,State,Any financial aid,"Grants or scholarships from the federal government, state/local government, or the institution",Federal grants,Pell grants,Other federal grants,State/local government grants or scholarships,Institutional grants or scholarships,Loans to students,Federal loans,Other loans
0,2020,Alabama,39018,36648,23058,18871,12579,3441,25261,17684,17082,2122
1,2020,Alaska,1954,1685,1231,893,851,964,652,723,691,74
2,2020,Arizona,50323,48052,32639,25849,20120,1909,33355,24463,23970,2531
3,2020,Arkansas,23625,23037,17548,12619,10198,11233,13072,11384,11208,950
4,2020,California,254634,241872,166802,151795,78052,163663,94572,85794,83964,12091
...,...,...,...,...,...,...,...,...,...,...,...,...
862,2004,Virginia,42579,0,20285,0,0,13788,13983,26450,0,0
863,2004,Washington,25723,0,12019,0,0,9490,10232,15413,0,0
864,2004,West Virginia,13741,0,8169,0,0,5965,4840,9210,0,0
865,2004,Wisconsin,31822,0,11714,0,0,14529,10451,23718,0,0
866,2004,Wyoming,5167,0,2015,0,0,1097,1816,3131,0,0

In [26]:
# Rename the columns to be more SQL friendly
financial_aid_renamed = financial_aid_2.rename(columns = {"Any financial aid": "Any_Aid",\
'Grants or scholarships from the federal government, state/local government, or the institution':\
"Any_Grants_Scholarships", "Federal grants": "Federal_Grants", "Pell grants": "Pell_Grants", "Other federal grants":\
"Other_Federal_Grants", 'State/local government grants or scholarships ': "State_Grants_Scholarships", \
'Institutional grants or scholarships ': "Inst_Grants_Scholarships", 'Loans to students': "Inst_Loans", \
'Federal loans': "Federal_Loans", "Other loans": "Other_Loans"})
financial_aid_renamed

,Year,State,Any_Aid,Any_Grants_Scholarships,Federal_Grants,Pell_Grants,Other_Federal_Grants,State_Grants_Scholarships,Inst_Grants_Scholarships,Inst_Loans,Federal_Loans,Other_Loans
0,2020,Alabama,39018,36648,23058,18871,12579,3441,25261,17684,17082,2122
1,2020,Alaska,1954,1685,1231,893,851,964,652,723,691,74
2,2020,Arizona,50323,48052,32639,25849,20120,1909,33355,24463,23970,2531
3,2020,Arkansas,23625,23037,17548,12619,10198,11233,13072,11384,11208,950
4,2020,California,254634,241872,166802,151795,78052,163663,94572,85794,83964,12091
...,...,...,...,...,...,...,...,...,...,...,...,...
862,2004,Virginia,42579,0,20285,0,0,13788,13983,26450,0,0
863,2004,Washington,25723,0,12019,0,0,9490,10232,15413,0,0
864,2004,West Virginia,13741,0,8169,0,0,5965,4840,9210,0,0
865,2004,Wisconsin,31822,0,11714,0,0,14529,10451,23718,0,0
866,2004,Wyoming,5167,0,2015,0,0,1097,1816,3131,0,0

In [27]:
# Create a copy of the enrollment df
enrollment_copy = enrollment.copy()
enrollment_copy

,Year,State,Total,Undergraduate,Graduate
0,2021,Total,"25,349,502","21,361,807","3,987,695"
1,2021,Alabama,"375,806","306,241","69,565"
2,2021,Alaska,"35,858","33,224","2,634"
3,2021,Arizona,"903,151","739,891","163,260"
4,2021,Arkansas,"188,672","160,454","28,218"
...,...,...,...,...,...
1038,2002,Wisconsin,"427,162","361,167","65,995"
1039,2002,Wyoming,"43,825","37,755","6,070"
1040,This table presents data collected from Title ...,NaN,NaN,NaN,NaN
1041,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN
1042,This is the unduplicated 12-month enrollment ...,NaN,NaN,NaN,NaN

In [28]:
# Drop the source rows at the bottom of the table
enrollment_copy = enrollment_copy.drop(index = [1040, 1041, 1042])

In [29]:
# Reset the index
enrollment_2 = enrollment_copy.set_index("State")
enrollment_2 = enrollment_2.drop("Total").reset_index()
enrollment_2

              State  Year      Total Undergraduate Graduate
0           Alabama  2021    375,806       306,241   69,565
1            Alaska  2021     35,858        33,224    2,634
2           Arizona  2021    903,151       739,891  163,260
3          Arkansas  2021    188,672       160,454   28,218
4        California  2021  3,572,593     3,194,600  377,993
...             ...   ...        ...           ...      ...
1015       Virginia  2002    553,835       466,305   87,530
1016     Washington  2002    508,213       470,286   37,927
1017  West Virginia  2002    119,112       100,769   18,343
1018      Wisconsin  2002    427,162       361,167   65,995
1019        Wyoming  2002     43,825        37,755    6,070

[1020 rows x 5 columns]

In [30]:
# List the column names for easy copy/paste for next step
enrollment_2.columns

Index(['State', 'Year', 'Total', 'Undergraduate', 'Graduate'], dtype='object')

In [31]:
# Change the three columns to integers
cols = ['Total', 'Undergraduate', 'Graduate']

enrollment_2[cols] = enrollment_2[cols].replace({",": ""}, regex = True).astype(int)
enrollment_2.dtypes

State            object
Year             object
Total             int64
Undergraduate     int64
Graduate          int64
dtype: object

In [32]:
# Set the index to year to drop extra years
enrollment_2 = enrollment_2.set_index("Year")

In [33]:
# Drop additional years that are not covered in the other dfs, reset the index and re-order the columns
enrollment_2 = enrollment_2.drop(["2002", "2003", "2021"])
enrollment_2 = enrollment_2.reset_index()
enrollment_2

     Year          State    Total  Undergraduate  Graduate
0    2020        Alabama   386560         321209     65351
1    2020         Alaska    38825          36116      2709
2    2020        Arizona   914287         758936    155351
3    2020       Arkansas   198988         171488     27500
4    2020     California  3711960        3341132    370828
..    ...            ...      ...            ...       ...
862  2004       Virginia   573983         481362     92621
863  2004     Washington   525535         483486     42049
864  2004  West Virginia   125841         106615     19226
865  2004      Wisconsin   443897         377506     66391
866  2004        Wyoming    47366          41104      6262

[867 rows x 5 columns]

In [34]:
# Confirm correct number of states and correct number of years so all dfs are consistent with each other
# grouped_enrollment = enrollment_2.groupby("State").count()
# grouped_enrollment

In [35]:
# Rename df to be consistent with others
enrollment_renamed = enrollment_2

In [36]:
# Preview the cleaned dfs to confirm consistent with each other
#revenue_renamed
#financial_aid_renamed
enrollment_renamed

     Year          State    Total  Undergraduate  Graduate
0    2020        Alabama   386560         321209     65351
1    2020         Alaska    38825          36116      2709
2    2020        Arizona   914287         758936    155351
3    2020       Arkansas   198988         171488     27500
4    2020     California  3711960        3341132    370828
..    ...            ...      ...            ...       ...
862  2004       Virginia   573983         481362     92621
863  2004     Washington   525535         483486     42049
864  2004  West Virginia   125841         106615     19226
865  2004      Wisconsin   443897         377506     66391
866  2004        Wyoming    47366          41104      6262

[867 rows x 5 columns]